<nav class="navbar navbar-expand-sm bg-primary navbar-dark" aria-label="Main menu">
  <div class="container-fluid" aria-label="Navigation">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link active" href='/'>HOME</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href='/about-us'>ABOUT US</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href='/collections'>COLLECTIONS</a>
      </li>
    </ul>
  </div>
</nav>