{{>header}}

<div class = "main">
    <h1>{{pagetitle}}</h1>

    <div class="about__us">
        <div class="about__section-1">
            <p>
            Welcome to Franx Collection! We're a passionate group of book lovers who have come together to create a platform where fellow book enthusiasts can connect, discover new books, and share their love for reading.

            Our mission is simple: we want to create a community where people can find books that they love, learn more about their favorite authors, and connect with other readers who share their interests. Whether you're a lifelong bookworm or just starting to explore the world of literature, we're here to help you discover your next great read.
            <br><br>
            Our website features a curated collection of books across a wide range of genres, from classic literature to contemporary bestsellers. We work hard to ensure that our selection is diverse, inclusive, and reflects the varied interests of our community.
            <br><br>
            In addition to our book collection, we also offer a range of resources to help readers get the most out of their reading experience. Our blog features articles on a variety of book-related topics, including author interviews, book reviews, and reading recommendations. We also host book clubs and other events to help bring our community of readers together.
            <br><br>
            At Franx Collection, we're committed to creating a welcoming and inclusive space for all readers. We believe that books have the power to inspire, educate, and connect us, and we're excited to share that passion with you.
            <br><br>
            Thank you for visiting our website. We hope you find something here that inspires you, challenges you, or simply brings you joy.
            <br><br>
            Happy reading!
            <br><br>
            Francis and the Franx Collection team.
         </p>

        </div>

        <div class="about__section-2">
            <img src="https://cdn.shopify.com/s/files/1/1427/7594/products/TinyClothboundsWinter-GroupSpiral_580x580_cropped.jpg?v=1667993290" alt="A collection of books">
        </div>
        
    </div>
    

    <div class="borrow">
        <a href="/collections"> BORROW A BOOK</a>
    </div>

{{!-- OPen link in new tab --}}
    <a href="/collections" target="_blank">Link</a>
</div>

{{>footer}}