{{>header}}

<div class = "main">
    <h1>{{pagetitle}}</h1>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sed ligula sed odio viverra cursus eget sit amet erat. Aenean pulvinar elit vitae laoreet viverra. Aenean a magna ornare, molestie erat sed, lobortis felis. Cras sed leo vehicula, suscipit odio at, feugiat enim. In a diam non sapien commodo finibus eu porta urna. Nam sagittis blandit nisi a porta. Etiam bibendum consequat mauris, et lacinia purus dictum et. Nulla facilisis tellus vehicula placerat tincidunt. In vitae tellus id diam porta fermentum non eget diam
    </p>

    <div class="borrow">
        <a href="/collections"> BORROW A BOOK</a>
    </div>
</div>

{{>footer}}