{{>header}}

<div class = "main"  aria-label="Main title">
    <h1>{{pagetitle}}</h1>
    <p>Here goes a Simple Node.js RESTul API</p>

    <div class="detel">
        <h1>Read a good book <span>TODAY</span></h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                <br> Etiam bibendum consequat mauris, et lacinia purus dictum et.
            </p>
            <a href="#"> LIBRARY</a>
            <a href="#"> BRITANICA</a>
            <h2>{{this.title}}</h2>
        </div>


</div>

{{>footer}}